.Btn--cancel.pseudo-class-hover {background-color: #ff4747;}
.Btn--success.pseudo-class-hover {background-color: #00a900;}
.Btn.pseudo-class-active {background-color: blue; border: 2px solid black;}
.Btn.pseudo-class-active, .Btn.js-isActive {background-color: #6666ff; color: #FFF; position: relative; top: 1px;}
.Btn.pseudo-class-hover, .Btn.js-isLoading {background-color: blue; color: #FFF;}
* {margin: 0; padding: 0; -webkit-font-smoothing: antialiased;}
body, input, textarea, button, fieldset, legend {font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal;}
.Btn {display: inline-block; border: none; border-radius: 3px; background-color: #DDD; overflow: hidden; color: #999; padding: 0.2em 1em 0.4em; cursor: pointer; outline: 0px; line-height: 1.6em; vertical-align: middle; font-size: 16px;}
.Btn > * {display: inline-block; vertical-align: middle !important; line-height: 1;}
.Btn:hover, .Btn.js-isLoading {background-color: blue; color: #FFF;}
.Btn:active, .Btn.js-isActive {background-color: #6666ff; color: #FFF; position: relative; top: 1px;}
.Btn.js-isLoading {cursor: no-drop; opacity: 0.2;}
.Btn.js-isLoading span {opacity: 0;}
.Btn:active {background-color: blue; border: 2px solid black;}
.Btn--success {background-color: green; color: #FFF;}
.Btn--success:hover {background-color: #00a900;}
.Btn--cancel {background-color: red; color: #FFF;}
.Btn--cancel:hover {background-color: #ff4747;}
.Ico {display: inline-block; width: 1em; height: 1em; background: #DDD;}
.Ico-gear, .Ico-edit, .Ico-user, .Ico-delete {background: #333;}
.BtnGroup {display: inline-block; font-size: 0; vertical-align: middle;}
.BtnGroup .Btn {margin-right: 10px;}
.BtnGroup .Btn:last-child {margin: 0;}
.BtnGroup--compact .Btn {margin-right: 0; border-radius: 0; border-left: 1px solid rgba(0, 0, 0, 0.2);}
.BtnGroup--compact .Btn:first-child {border-top-left-radius: 3px; border-bottom-left-radius: 3px; border-left: none;}
.BtnGroup--compact .Btn:last-child {border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
body {background: red;}
